<hr class="dashed">
<div class="tel_wrap">
    <p>お電話から</p>
    <a href="tel:0988936896" class="tel">
        <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/phone-icon.svg" alt="電話">
        <h3 class="namber">098-893-6896</h3>
    </a>
    <p class="openhour">営業時間｜10:00~18:00（電話受付時間）</p>
</div>
<hr class="dashed">