<div class="separator02 over_2">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/separator.png" alt="">
</div>

{% comment %} <div class="under_banner over_2 fadeIn">
    <div class="banner_wrap inner ">
        <div class="bnr obj-fit">
            <a href="">
                <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/banner_left.png" alt="">
            </a>
        </div>
        <div class="bnr obj-fit">
            <a href="">
                <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/banner_right.png" alt="">
            </a>
        </div>
    </div>
</div> {% endcomment %}

<!-- footer直前のリンク -->
<div class="link over_2 under_link fadeIn">
    <div class="inner link_wrap over_2">
        <ul class="link_item">
            <li>
            <a href="/pages/faq#order_payment" class="link_list">
                <p class="link_text">注文・支払いについて</p>
            </a>
            </li>
            <li>
            <a href="/pages/faq#shipping_cost" class="link_list">
                <p class="link_text">配送・送料について</p>
            </a>
            </li>

            <li>
            <a href="/pages/faq#return_exchange" class="link_list">
                <p class="link_text">返品・交換について</p>
            </a>
            </li>
        </ul>
    </div>
</div>