
<footer class="over">
  <div class="inner footer_inner">
    <div class="footerlogo">
      <a href="{{ routes.root_url }}">
        <div class="f-logo obj-fit">
          <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/footer_logo.png" alt="良味屋">
        </div>
      </a>
      <p class="fotter_logo_txt">Yoshimiya Online Store</p>
    </div>
    <div class="footer_wrap">
      <div class="left">
        <div class="footer_add">
          <p class="address">沖縄県宜野湾市喜友名1-6-23</p>
          <p class="busi-hours">月〜金<br>AM8:00〜PM:17:00〜20:00</p>
        </div>
      </div>
      <div class="right">
        <div class="menu-left">
          <ul>
            <li><a href="{{ routes.root_url }}">TOP</a></li>
            <li><a href="/pages/about/">良味屋について</a></li>
            <li><a href="/collections/all/">商品一覧</a></li>
            <li><a href="/blogs/news/">良味屋だより</a></li>
            <li><a href="/pages/faq/">よくあるご質問</a></li>
            <li><a href="/blogs/wholesale/">卸希望の方へ</a></li>
            <li><a href="/pages/contact-form/">お問い合わせ</a></li>
          </ul>
        </div>
        <div class="menu-right">
          <ul>
            <li class="login">
              <a href="/account/login/"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/login_white.png" alt="" style="margin-right: 7px;">ログイン</a>
            </li>
            <li  class="cart">
              <a href="/cart/"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/cart_white.svg" alt="" style="margin-right: 7px;">カート</a>
            </li>
          </ul>
          <div class="sns_sp">
            <a href="https://www.instagram.com/_yoshimiya/?igsh=Z3MyZHJubGFhYmto" target="_blank" rel="noopener noreferrer">
              <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/insta_icon_2.svg" alt="">
              <p>Follow us!</p>
            </a>
          </div>
          <ul class="nav_pc">
            <li><a href="/pages/company/">会社概要</a></li>
            <li><a href="/pages/terms/">特定商取引法に基づく表記</a></li>
            <li><a href="/pages/privacy-policy/">プライバシーポリシー</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav_sp">
      <ul class="top_wrap">
        <li><a href="/pages/company/">会社概要</a></li>
        <li><a href="/pages/terms/">特定商取引法に基づく表記</a></li>
      </ul>
      <p><a href="/pages/privacy-policy/">プライバシーポリシー</a></p>
    </div>

    <div class="footer_add_sp">
      <p class="shop">有限会社良味屋</p>
      <p class="address">沖縄県宜野湾市喜友名1-6-23</p>
      <p class="busi-hours">月〜金<br>AM8:00〜PM:17:00〜20:00</p>
    </div>

    <div class="footer_bottom">
      <div class="sns">
        <a href="https://www.instagram.com/_yoshimiya/?igsh=Z3MyZHJubGFhYmto" target="_blank" rel="noopener noreferrer">
          <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/insta_icon_2.svg" alt="">
          <p>Follow us!</p>
        </a>
      </div>
      <p class="copy">© Yoshimiya. All rights reserved.</p>
    </div>
  </div>
</footer>