<header class="header js-header">
  <div class="header_inner">
    <div class="logo">
      <a href="{{ routes.root_url }}">
        <div class="img_box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/logo.png" alt=""></div>
        <!-- <div class="img_box"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/logo_icon.svg" alt=""></div>
        <div class="logo_text"></div>
        <p>Yoshimiya Online Store</p> -->
      </a>
    </div>
    <div class="logo_sp">
      <a href="{{ routes.root_url }}">
        <div class="img_box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/logo_white.png" alt="yoshimiya online"></div>
      </a>
    </div>
    <div class="header_menu">
      <ul class="nav">
        <li><a href="about.html">良味屋について</a></li>
        <li><a href="products.html">商品一覧</a></li>
        <li><a href="news.html">良味屋だより</a></li>
        <li><a href="faq.html">よくあるご質問</a></li>
        <li><a href="wholesale.html">卸希望の方</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
      </ul>
      <div class="header_search-content">
        <a href="#" class="search_icon"></a>
      </div>
      <div class="header_icon_login">
        <a href="#" class="login_icon"></a>
      </div>
      <div class="header_icon_cart">
        <a href="/cart/" class="cart_icon"></a>
      </div>
    </div><!--header_menu-->
  </div><!--header_inner-->

  <div class="sp_menu_inner">
    <div class="hamburger">
      <div class="ham-trigger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="sp_openarea">
      <ul class="sp_menu-list">
        <li><a href="#">TOP</a></li>
        <li><a href="about.html">良味屋について</a></li>
        <li><a href="products.html">商品一覧</a></li>
        <li><a href="news.html">良味屋だより</a></li>
        <li><a href="faq.html">よくある質問</a></li>
        <li><a href="wholesale.html">卸希望の方へ</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
      </ul>

      <ul class="sp_menu-sublist">
        <li><a href="company.html">会社概要</a></li>
        <li><a href="privacy-policy.html">プライバシーポリシー</a></li>
        <li><a href="terms.html">特定商取引法に基づく表記</a></li>
      </ul>

      <div class="sp_insta_wrap">
        <a href="https://www.instagram.com/_yoshimiya/?igsh=Z3MyZHJubGFhYmto" target="_blank" rel="noopener noreferrer" class="sp_insta">
          <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/insta_icon.svg" alt="instagram">
          <p>Follow us!</p>
        </a>
      </div>
    </div>
  </div>
</header>