<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/bg_img.jpg" alt=""></div>   
<!--メインビジュアル-->
<div class="p-top_mv under_mv_img_wrap over_2 obj-fit">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/underpage_mv.png" alt="" class="under_mv_img">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/underpage_mv_sp.png" alt="" class="under_mv_img_sp">
    <div class="title_circle"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/title_bg_circle.png" alt=""></div>
    <div class="under_page_title_wrap">
        <h2>会社概要</h2>
        <p class="subtitle">Company</p>
    </div>
</div>

<div class="table_sec">
    <div class="company_bg"></div>
    <div class="company_bg_2"></div>
    <div class="table_text_wrap inner over_2">
        <table>
            <tr>
                <th>販売業者</th>
                <td>有限会社良味屋</td>
            </tr>
            <tr>
                <th>設立</th>
                <td>知念&emsp;憂</td>
            </tr>
            <tr>
                <th>所在地</th>
                <td>〒901-2222<br>沖縄県宜野湾市喜友名1丁目6番23号</td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>098-893-6896</td>
            </tr>
            {% comment %} <tr>
                <th>FAX</th>
                <td class="change_red">098-893-6896</td>
            </tr> {% endcomment %}
            <tr>
                <th>メールアドレス</th>
                <td>corp＠rm-yoshimiya.com</td>
            </tr>
            {% comment %} <tr>
                <th>資本金</th>
                <td>xxxx万円</td>
            </tr> {% endcomment %}
            <tr>
                <th>事業内容</th>
                <td>各商品ページをご参照ください。</td>
            </tr>
            {% comment %} <tr>
                <th>URL</th>
                <td>https://^^^^^^</td>
            </tr> {% endcomment %}
        </table>
    </div>
</div>

<section class="info over_2">
    <div class="inner">
        <div class="info_title fadeInTriger">
            <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/title_deco.svg" alt="">
            <h2>揚げたて直売もしています！</h2>
        </div>
        <div class="info_contents_wrap fadeInTriger">
            <div class="info_img obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/shop.jpg" alt="店舗イメージ画像">
            </div>
            <div class="info_text_wrap">
                <table>
                    <tr>
                        <th>曜日</th>
                        <td>毎週木曜16:00〜（不定休）</td>
                    </tr>
                    <tr>
                        <th>場所</th>
                        <td>〒901-2222<br>沖縄県宜野湾市喜友名1丁目6番23号</td>
                    </tr>
                </table>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.2945745636134!2d127.76153811258077!3d26.284548876931535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e5132af909f53f%3A0xa84c504739b302a6!2z44CSOTAxLTIyMjIg5rKW57iE55yM5a6c6YeO5rm-5biC5Zac5Y-L5ZCN77yR5LiB55uu77yW4oiS77yS77yT!5e0!3m2!1sja!2sjp!4v1712902504109!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
        </div>
    </div>
</section>

{% render 'under-blocks' %}