<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/bg_img.jpg" alt=""></div>   
<!--メインビジュアル-->
<div class="p-top_mv about_mv over_2">
    <div class="inner about_inner">
        <div class="ttl_sp">
            <h2 class="underpage_ttl">良味屋について</h2>
            <p class="ttl_sub">About Yoshimiya</p>
        </div>
        <div class="mv_img obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_img.jpg" alt="">
        </div>
        <div class="mv_right">
            <div class="ttl">
                <h2 class="underpage_ttl">良味屋について</h2>
                <p class="ttl_sub">About Yoshimiya</p>
            </div>
            <h1 class="copy">
                沖縄の伝統菓子と
                <br>温もりを
                <br>お届けする
            </h1>
            <p class="mv_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
        <div class="circle_text obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/circle_text.png" alt="Yoshimiya Okinawa" class="spin_img">
        </div>
    </div>
</div>

<div class="under_mv obj-fit over_2 fadeInTriger">
    <img class="pc" src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_img02.jpg" alt="">
    <img class="sp" src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/under_mv_sp.png" alt="">
</div>

<div class="separator over">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/separator.png" alt="">
</div>

<section class="about_content">
    <div class="about_bg_img over_2"></div>
    <div class="about_bg_img_2 over_2"></div>
    <div class="about_bg_img_3 over_2"></div>
    <div class="inner about_content_inner over_2">
        <div class="content_wrap">
            <div class="about_text_wrap fadeInTriger">
                <h3>小さな始まりから、大きな笑顔へ</h3>
                <p class="about_text">
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </p>
            </div>
            <div class="about_img_wrap img_wrapper fadeInTriger">
                <div class="big obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about01_big.jpg" alt="">
                </div>
                <div class="small obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about01_small.jpg" alt="">
                </div>
                <div class="circle_text obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/circle_text.png" alt="Okinawa Yoshimiya" class="spin_img">
                </div>
            </div>
        </div>
        <div class="content_wrap reverse">
            <div class="about_text_wrap fadeInTriger">
                <h3>沖縄の笑顔をお土産に
                    <br>良味屋の選び抜かれた味わい。</h3>
                <p class="about_text">
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </p>
                <div class="btn underpage_btn about_btn">
                    <a href="#" class="btn_txt">店長おすすめ！ギフトセット
                        <svg id="layer_1" data-name="layer1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.17 5.33">
                        <defs>
                            <style>
                            .cls-1 {
                                fill: #010642;
                                stroke-width: 0px;
                            }
                            </style>
                        </defs>
                        <path class="cls-1" d="M.5,2.17c-.28,0-.5.22-.5.5s.22.5.5.5v-1ZM8.83,2.67c0,1.47,1.19,2.67,2.67,2.67s2.67-1.19,2.67-2.67-1.19-2.67-2.67-2.67-2.67,1.19-2.67,2.67ZM.5,3.17h11v-1H.5v1Z"/>
                        </svg>
                    </a>
                </div><!--btn underpage_btn about_btn-->
            </div>
            <div class="about_img_wrap img_wrapper fadeInTriger">
                <div class="big obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about02_big.jpg" alt="">
                </div>
                <div class="small obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about02_small.jpg" alt="">
                </div>
                <div class="circle_text obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/circle_text.png" alt="Okinawa Yoshimiya" class="spin_img">
                </div>
            </div>
        </div>             
        <div class="content_wrap">
            <div class="about_text_wrap fadeInTriger">
                <h3>良味屋がお届けする、
                    <br>温もり感じるサーターアンダーギー</h3>
                <p class="about_text">
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </p>
                <div class="btn underpage_btn about_btn">
                    <a href="#" class="btn_txt">良味屋のサーターアンダギー
                        <svg id="layer_1" data-name="layer1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.17 5.33">
                        <defs>
                            <style>
                            .cls-1 {
                                fill: #010642;
                                stroke-width: 0px;
                            }
                            </style>
                        </defs>
                        <path class="cls-1" d="M.5,2.17c-.28,0-.5.22-.5.5s.22.5.5.5v-1ZM8.83,2.67c0,1.47,1.19,2.67,2.67,2.67s2.67-1.19,2.67-2.67-1.19-2.67-2.67-2.67-2.67,1.19-2.67,2.67ZM.5,3.17h11v-1H.5v1Z"/>
                        </svg>
                    </a>
                </div><!--btn underpage_btn about_btn-->
            </div>
            <div class="about_img_wrap img_wrapper fadeInTriger">
                <div class="big obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about03_big.jpg" alt="">
                </div>
                <div class="small obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about03_small.jpg" alt="">
                </div>
                <div class="circle_text obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/circle_text.png" alt="Okinawa Yoshimiya" class="spin_img">
                </div>
            </div>
        </div> 
    </div> <!--inner-->


    <div class="scroll_img_section over_2">
        <div class="scroll_img_wrap">
            <ul class="scroll_img_list scroll_img_list-left">
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide01.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide02.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide03.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide04.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide05.jpg" alt="">
                </li>
            </ul>
            <ul class="scroll_img_list scroll_img_list-left">
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide01.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide02.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide03.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide04.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide05.jpg" alt="">
                </li>
            </ul>
            <ul class="scroll_img_list scroll_img_list-left">
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide01.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide02.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide03.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide04.jpg" alt="">
                </li>
                <li class="scroll_img_item obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/about_slide05.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="info over_2">
    <div class="inner">
        <div class="info_title fadeInTriger">
            <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/title_deco.svg" alt="">
            <h2>揚げたて直売もしています！</h2>
        </div>
        <div class="info_contents_wrap fadeInTriger">
            <div class="info_img obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/shop.jpg" alt="店舗イメージ画像">
            </div>
            <div class="info_text_wrap">
                <table>
                    <tr>
                        <th>曜日</th>
                        <td>毎週木曜16:00〜（不定休）</td>
                    </tr>
                    <tr>
                        <th>場所</th>
                        <td>〒901-2222<br>沖縄県宜野湾市喜友名1丁目6番23号</td>
                    </tr>
                </table>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.2945745636134!2d127.76153811258077!3d26.284548876931535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e5132af909f53f%3A0xa84c504739b302a6!2z44CSOTAxLTIyMjIg5rKW57iE55yM5a6c6YeO5rm-5biC5Zac5Y-L5ZCN77yR5LiB55uu77yW4oiS77yS77yT!5e0!3m2!1sja!2sjp!4v1712902504109!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
        </div>
    </div>
</section>

{% render 'under-blocks' %}