<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/bg_img.jpg" alt=""></div>   
<!--メインビジュアル-->
<div class="p-top_mv under_mv_img_wrap over_2 obj-fit">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/underpage_mv.png" alt="" class="under_mv_img">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/underpage_mv_sp.png" alt="" class="under_mv_img_sp">
    <div class="title_circle"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/title_bg_circle.png" alt=""></div>
    <div class="under_page_title_wrap">
        <h2>特定商取引法に<br>基づく表記</h2>
        <p class="subtitle pp">Terms</p>
    </div>
</div>

<div class="table_sec under_wrap terms_content">
    <div class="under_bg"></div>
    <div class="under_bg_2"></div>
    <div class="under_bg_3"></div>
    <div class="under_bg_4"></div>
    <div class="table_text_wrap inner over">
        <table>
            <tr>
                <th>販売業者</th>
                <td>有限会社良味屋</td>
            </tr>
            <tr>
                <th>運営統括責任者</th>
                <td>知念&emsp;憂</td>
            </tr>
            <tr>
                <th>所在地</th>
                <td>〒901-2222<br>沖縄県宜野湾市喜友名1丁目6番23号</td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>098-893-6896</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td class="change_red">098-893-6896</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>corp@rm-yoshimiya.com</td>
            </tr>
            <tr>
                <th>取扱商品</th>
                <td>お土産、食品</td>
            </tr>
            <tr>
                <th>商品代金以外の
                    <br>必要料金</th>
                <td>消費税・送料・手数料（代引き手数料一律300円+税）はお客様のご負担となります。</td>
            </tr>
            <tr>
                <th>送料について</th>
                <td class="change_red">・北海道・東北地方&emsp;1,500円
                    <br>・信越・北陸・関東・東海・近畿・四国・中国&emsp;1,000円
                    <br>・九州・沖縄&emsp;500円
                    <br>※１回のご注文金額が商品代金10,000円（税込）以上の場合、全国無料配送になります。</td>
            </tr>
            <tr>
                <th>申し込みの有効期限</th>
                <td>原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。</td>
            </tr>
            <tr>
                <th>不良品</th>
                <td>商品が届きましたら直ちに内容のご確認をお願いいたします。
                    <br>万が一不良品の疑いがございましたら、直ちにご連絡ください。
                    <br>商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。
                    <br>不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。</td>
            </tr>
            <tr>
                <th>販売数量</th>
                <td>特に指定はございません（商品によって設定あり）</td>
            </tr>
            <tr>
                <th>引き渡し時期</th>
                <td>決済完了後（代金引換を除く）、5営業日以内(土日祝日を除く)に発送いたします。
                    <br>天候不順・配送業者の都合・その他何らかの理由により 遅延する場合はメール等でお知らせいたします。</td>
            </tr>
            <tr>
                <th>お支払い方法</th>
                <td class="change_red">クレジットカード・代金引換・銀行振込</td>
            </tr>
            <tr>
                <th>お支払い期限</th>
                <td>・代金引換の場合
                    <br>&emsp;商品のお届け時に、配達員に代金のお支払いをお願いします。
                    <br>・銀行振込の場合
                    <br>&emsp;ご注文日を含む10日以内にご入金をお願いします。
                    <p><span class="change_red space">&emsp;コザ信用金庫&emsp;普天間支店&emsp;140751&emsp;(有)良味屋</span></p></td>
            </tr>
            <tr>
                <th>返品・交換について</th>
                <td>ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。
                    <br>商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます。
                    <br>ご注文商品と異なる商品や不良品をお届けした場合、商品到着後7日以内に下記メールアドレスまたはお電話にてご連絡いただきますようお願い申し上げます。
                    <p>corp@rm-yoshimiya.com</p>
                    <p>098-893-6896</p>
                    <p>営業時間：10:00～18:00</p>
                    <p>商品の汚損・破損等、当店の不手際による返品の場合の送料は当店にて負担いたします。</p>
                </td>
            </tr>
        </table>
    </div>
</div>

{% render 'under-blocks' %}